name: Deploy AWS Jewelry Site

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

    steps:
      - name: Checkout do código
        uses: actions/checkout@v3

      - name: Instalar dependências básicas
        run: |
          sudo apt-get update
          sudo apt-get install -y make unzip curl

      - name: Instalar Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.7

      - name: Instalar Checkov
        run: pip install checkov

      - name: Validar segurança com Checkov
        run: make check-security || echo "Checkov não bloqueou o processo"

      - name: Provisionar infraestrutura com Terraform
        run: |
          make init
          make plan \
          VARS="aws_access_key=${AWS_ACCESS_KEY_ID} aws_secret_key=${AWS_SECRET_ACCESS_KEY}"
          make apply \
          VARS="aws_access_key=${AWS_ACCESS_KEY_ID} aws_secret_key=${AWS_SECRET_ACCESS_KEY}"
          VARS="aws_access_key=${AWS_ACCESS_KEY_ID} aws_secret_key=${AWS_SECRET_ACCESS_KEY}"

      - name: Build da aplicação
        run: make build ENV=prod

      - name: Deploy remoto via SSH
        run: make deploy ENV=prod